<div class="sheduler">
    <div class="sch-header">

    </div>
    <div class="sch-body">
        <div class="sch-timescale">
            <div class="sch-room-header">
                room header
            </div>

                <div class="sch-occupant">
                    <div class="sch-occupant-header">
                        header
                    </div>
                    <div class="sch-room-timescale">
                        <div class="sch-timing-hour" ng-repeat="time in timescale">

                            <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs">{{child.time}}</div>


                        </div>
                    </div>




            </div>
        </div>
        <div class="sch-rooms-content">
            <div class="sch-rooms">
                <!--ROOM-->
                <div class="sch-room" ng-repeat="room in rooms">
                    <div class="sch-room-header">
                        {{room.header}}
                    </div>

                    <div class="sch-room-data">
                        <div class="sch-occupant" ng-repeat="doctor in room.doctors">
                            <div class="sch-occupant-header">
                                {{doctor.name}}
                            </div>
                            <div class="sch-room-timescale">

                                <div class="sch-timing-hour" ng-repeat="time in doctor.appointments">

                                    <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs"
                                         ng-mousedown="handlemousedown(p, $event)"
                                         ng-mouseup="handlemouseup(p, $event)"
                                        >
                                        <div draggable="true" ng-class="appointment.time.length" class="appointment" ng-repeat="appointment in child.appointments">
                                            {{appointment.description}}
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>


                </div>
              <!--  &lt;!&ndash;ROOM&ndash;&gt;
                <div class="sch-room">
                    <div class="sch-room-header">
                        room header
                    </div>

                    <div class="sch-room-data">
                        <div class="sch-occupant">
                            <div class="sch-occupant-header">
                                header
                            </div>
                            <div class="sch-room-timescale">
                                <div class="sch-timing-hour" ng-repeat="time in timescale2">

                                    <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs"
                                         ng-mousedown="handlemousedown(p, $event)"
                                         ng-mouseup="handlemouseup(p, $event)"
                                        >
                                        <div draggable="true" ng-class="appointment.time.length" class="appointment" ng-repeat="appointment in child.appointments">
                                            {{appointment.description}}
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="sch-occupant">
                            <div class="sch-occupant-header">
                                header
                            </div>
                            <div class="sch-room-timescale">
                                <div class="sch-timing-hour" ng-repeat="time in timescale">

                                    <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs">
                                       <div class="appointment" ng-class="appointment.time.length" ng-repeat="appointment in child.appointments">
                                           {{appointment.description}}
                                       </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>                &lt;!&ndash;ROOM&ndash;&gt;
                <div class="sch-room">
                    <div class="sch-room-header">
                        room header
                    </div>
                    <div class="sch-room-data">
                        <div class="sch-occupant">
                            <div class="sch-occupant-header">
                                header
                            </div>
                            <div class="sch-room-timescale">
                                <div class="sch-timing-hour" ng-repeat="time in timescale">

                                    <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs"></div>


                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                &lt;!&ndash;ROOM&ndash;&gt;
                <div class="sch-room">
                    <div class="sch-room-header">
                        room header
                    </div>
                    <div class="sch-room-data">
                        <div class="sch-occupant">
                            <div class="sch-occupant-header">
                                header
                            </div>
                            <div class="sch-room-timescale">
                                <div class="sch-timing-hour" ng-repeat="time in timescale">

                                    <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs"></div>


                                </div>
                            </div>
                        </div>
                        <div class="sch-occupant">
                            <div class="sch-occupant-header">
                                header
                            </div>
                            <div class="sch-room-timescale">
                                <div class="sch-timing-hour" ng-repeat="time in timescale">

                                    <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs">
                                        text
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="sch-occupant">
                            <div class="sch-occupant-header">
                                header
                            </div>
                            <div class="sch-room-timescale">
                                <div class="sch-timing-hour" ng-repeat="time in timescale">

                                    <div class="sch-timing-quarter-hour" ng-repeat="child in time.childs">
                                        text
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>-->
            </div>

        </div>
    </div>
</div>